#botaoCadastroReceita {
	margin-left: 45.5%;
	margin-top: 0%;
	width: 13%;
	font-weight: bolder;
}

#botaoAdicionarParagrafo {
	margin-left: 0%;
	margin-top: 0%;
	width: 14%;
	font-weight: bolder;
}

#botaoRemoverParagrafo{
	width: 14%;
	font-weight: bolder;
}